body
    background-color: $bg-color-primary
    color: $color-body
    font-family: $font-stack-body
    margin-left: 1.5rem
    background-image: url(https://scontent-msp1-1.xx.fbcdn.net/v/t31.0-8/14379890_10155445674899152_3009138867040823268_o.jpg?_nc_cat=104&_nc_ht=scontent-msp1-1.xx&oh=280e5d6c0b77aa8333356ba0e3614476&oe=5CBA62AC)
    background-size: cover
    background-blend-mode: soft-light
h1
    color: $color-primary
    font-family: $font-stack-heading
    font-weight: 700
    letter-spacing: 0.12rem
