doctype html
head
    title LIAM HOCKLEY
    link(rel="stylesheet" href="app.css")
    script(src="app.js")
body
    include ../partial/header
    include ../partial/nav
    block content            
