nav
    ul
        li(class=(active === "home" ? "active" : undefined))
            a(href="/") About Me
        li(class=(active === "timeline" ? "active" : undefined))
            a(href="/timeline") Timeline
        li(class=(active === "contact" ? "active" : undefined))
            a(href="/contact") Contact Me
        li(class=(active === "portfolio" ? "active" : undefined))
            a(href="/portfolio") My Projects
